* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f5f5;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #FF6A00;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar .logo-details svg {
    font-size: 2.4rem;
    color: #fff;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav {
    margin-top: 20px;
}

.sidebar .nav-item {
    position: relative;
    width: 100%;
    margin: 8px 0;
    background: #C75300;
}

.sidebar .nav-item a {
    display: flex;
    align-items: center;
}

.sidebar .nav-icon {
    width: 50px;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
}

.sidebar .nav-item a {
    color: white;
    text-decoration: none;
}


.dashboard {
    background: #fff;
    height: 100vh;
    padding: 1rem;
    padding-left: calc(250px + 1rem);
    width: 100%;
    transition: all 0.5s ease;
}

.student {
    width: 100%;
}

h3.heading {
    font-size: 24px;
    font-weight: 600;
    color: #454545;
    margin-bottom: 10px;
}

.table-top {
    margin-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-top .table-heading {
    font-size: 24px;
    font-weight: 500;
    color: #454545;
}

.table-top .add-btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #FF6A00;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.table {
    display: flex;
    flex-direction: column;
}

.table .row {
    display: flex;
}

.table .row:nth-child(odd) {
    background: #ff6a006c;
}

.table .row:first-child {
    font-weight: bold;
    background: #000;
    color: white;
}

.table .row:last-child {
    border-bottom: 1px solid black;
}

.table .row .data {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    text-align: center;
    border-left: 1px solid black;
}

.table .row .data:first-child {
    flex: 1;
    font-weight: bold;
    border-left: none;
}

.table .row .data:last-child {
    flex: 2;
}

.table .row:not(:first-child) .data:last-child {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.table .row .data button,
.table .row .data .edit {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #FF6A00;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    font-size: 18px;
    font-weight: 500;
    color: #454545;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: #ff6a00;
}

.form-group select {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.form-group input[type="submit"] {
    padding: 10px 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #FF6A00;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-single {
    width: calc(33.33% - 1rem);
    background: #FF6A00;
    color: white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}